[submodule "SystemVerilogExamples"]
	path = SystemVerilogExamples
	url = https://github.com/AplanTranslators/SystemVerilogExamples.git
[submodule "Core"]
	path = Core
	url = https://github.com/AplanTranslators/Core.git
